<% if user_signed_in? %>
  <li>
  <%= link_to(t('action.logout'), destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to(t('action.signin'), new_user_session_path)  %>
  </li>
  <li>
  <%= link_to t('action.fb_login'), user_omniauth_authorize_path(:facebook) %>
  </li>
<% end %>
